@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/GothamMedium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
}
